---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"

import "../global.css"
import FirstView from "../sections/FirstView.astro"
import About from "../sections/About.astro"
import Contact from "../sections/Contact.astro"
import Diferences from "../sections/Diferences.astro"
import Importance from "../sections/Importance.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Tiendas Don Mariano">
  <Header />
  <main>
    <FirstView />
    <About />
    <Diferences />
    <Importance />
    <Contact />
  </main>
</Layout>
