---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import "../global.css";
import Hero from "../sections/Hero.astro";
import Contact from "../sections/Contact.astro";
import Partners from "../sections/Partners.astro";
import CallAction from "../sections/CallAction.astro";
import WhyUs from "../sections/WhyUs.astro";
import Reviews from "../sections/Reviews.astro";
import Footer from "../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Tiendas Don Mariano">
  <Header />
  <main>
    <Hero />
    <CallAction />
    <WhyUs />
    <Reviews />
    <Partners />
    <Contact />
    <Footer />
  </main>
</Layout>
