<section class="w-full h-screen cursor-none">
  <iframe
    style="border:0"
    class="w-[80%] h-[60%]"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src=`https://www.google.com/maps/d/embed?mid=1TjBMGYZ-sfmVDu3H8Nx4o7j0W5J1KH4&ehbc=2E312F&noprof=1`
  >
  </iframe>
</section>
