---

---

<section
  class="background h-[calc(100vh-96px)] flex items-center justify-center"
>
  <div class="relative z-10 text-center px-6">
    <h1 class="text-4xl lg:text-5xl text-white font-bold">
      Tiendas <span class="!font-baby text-7xl">Don Mariano</span>
    </h1>
    <p
      class="mt-4 text-base md:text-lg max-w-xl mx-auto text-white font-semibold"
    >
      <span class="text-gold-500">Calidad y ahorro cerca de ti.</span> Encuentra
      los mejores productos a los mejores precios en todas nuestras sedes.
    </p>
    <a
      href="#sedes"
      class="mt-6 inline-block bg-brown-600 text-white font-semibold py-3 px-6 rounded-lg hover:bg-brown-500 transition"
    >
      Encuentra tu tienda
    </a>
  </div>
  <div class="absolute inset-0 bg-black/60 backdrop-blur-xs"></div>
</section>

<style>
  .background {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
  }
</style>
