---

---

<section
  class="background h-[calc(100vh-96px)] flex items-center justify-center"
>
  <div class="relative z-10 text-center px-6">
    <h1 class="text-7xl lg:text-8xl text-white font-bold !font-baby">
      Don Mariano
    </h1>
    <p
      class="mt-4 text-base md:text-lg max-w-xl mx-auto text-white font-semibold text-pretty"
    >
      <span class="text-gold-500">Un supermercado de barrio diferente.</span> Frutas, verduras y todo para su mercado... ¡como si usted mismo lo hubiera escogido!<br/>
      Mejor dicho, le mandamos el mercado como si fuera pa' la suegra.
    </p>
    <a
      href="#sedes"
      class="mt-6 inline-block bg-brown-600 text-white font-semibold py-3 px-6 rounded-lg hover:bg-brown-500 transition"
    >
      Encuentra tu tienda más cercana
    </a>
  </div>
  <div class="absolute inset-0 bg-black/60 backdrop-blur-xs"></div>
</section>

<style>
  .background {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
  }
</style>
