<section class="flex space-x-16 bg-[#fff0de] overflow-hidden items-center" >
<div class="flex space-x-16 animate-loop-scroll items-center" >
  <img class="max-w-none size-40" alt="Logo" 
    src="/nutresa.webp"
  />
  <img class="max-w-none w-36 h-24" alt="Logo" 
    src="/alpina.webp"
  />
  <img class="max-w-none w-40 h-28" alt="Logo" 
    src="/arrozdiana.webp"
  />
  <img class="max-w-none size-36" alt="Logo" 
    src="/bavaria.webp"
  />
  <img class="max-w-none w-50 h-24" alt="Logo" 
    src="/dejamu.webp"
  />
  <img class="max-w-none size-44" alt="Logo" 
    src="/colanta.webp"
  />
  <img class="max-w-none object-contain size-52" alt="Logo"
    src="/eurosemilla.webp"
  />
  <img class="max-w-none w-48 h-36" alt="Logo"
    src="/karavansay.webp"
  />

  <img class="max-w-none w-44 h-32 " alt="Logo"
    src="/lacteos.webp"
  />
</div>
<div class="flex space-x-16 animate-loop-scroll items-center" >
  <img class="max-w-none size-40" alt="Logo" 
    src="/nutresa.webp"
  />
  <img class="max-w-none w-36 h-24" alt="Logo" 
    src="/alpina.webp"
  />
  <img class="max-w-none w-40 h-28" alt="Logo" 
    src="/arrozdiana.webp"
  />
  <img class="max-w-none size-36" alt="Logo" 
    src="/bavaria.webp"
  />
  <img class="max-w-none w-50 h-24" alt="Logo" 
    src="/dejamu.webp"
  />
  <img class="max-w-none size-44" alt="Logo" 
    src="/colanta.webp"
  />
  <img class="max-w-none object-contain size-52" alt="Logo"
    src="/eurosemilla.webp"
  />
  <img class="max-w-none w-48 h-36" alt="Logo"
    src="/karavansay.webp"
  />

  <img class="max-w-none w-44 h-32 " alt="Logo"
    src="/lacteos.webp"
  />
</div>
</section>