---
const logos = [
  "/nutresa.webp",
  "/alpina.webp",
  "/arrozdiana.webp",
  "/bavaria.webp",
  "/dejamu.webp",
  "/colanta.webp",
  "/eurosemilla.webp",
  "/karavansay.webp",
  "/lacteos.webp",
];

const duplicatedLogos = [...logos, ...logos, ...logos, ...logos];
---

<section
  id="Products"
  class="bg-white overflow-x-hidden py-8 border-[#e9e9e9] border-b"
>
  <div class="relative w-full flex items-center">
    <div class="flex gap-12 animate-loop-scroll items-center min-w-max">
      {
        duplicatedLogos.map((src, index) => (
          <img
            src={src}
            alt="Logo"
            class="h-24 w-40 object-contain max-w-none"
            aria-hidden={index >= logos.length ? "true" : "false"}
          />
        ))
      }
    </div>
  </div>
  <style>
    .animate-loop-scroll {
      animation: loop-scroll 1m linear infinite;
    }
    @keyframes loop-scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  </style>
</section>
